body
{
	font-family: sans-serif;
	background-image: url(texture.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.button
{
    font-weight: bold;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;
    height: 35px;
    padding-top: 1px; /*permet le centrage vertical*/
    text-align: center;
    color: #FFF;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 25px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.button:hover
{
    color: #FFF;
    background: #555;
    background: linear-gradient( #777, #333);
}
.button:active
{
    color: #FFF;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

.num_button
{
    font-weight: bold;
    font-size: 2em;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;
    height: 50px;
    padding-top: 1px; /*permet le centrage vertical*/
    text-align: center;
    color: #FFF;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 25px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.num_button:hover
{
    color: #FFF;
    background: #555;
    background: linear-gradient( #777, #333);
}
.num_button:active
{
    color: #FFF;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

.index_content
{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}

.global_content
{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
}

#plateau
{
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    width: 60%;
    margin-left: 20%;
    padding-left: 5px;
    text-align: center;
    border-radius: 20px;
}

.batonnets
{
    border: 2px solid black;
    background-color: white;
    width: 15px;
    height: 80px;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 6px;
}

a
{
    text-decoration: none;
    display: inline-block;
    color: black;
}
a:hover
{
    color: #502626;
}

#game_zone
{
    border-radius: 30px;
    padding-bottom: 15px;
    margin-top: 30px;
}
#phrase
{
	color: red;
}
#retour
{
	font-family: sans-serif;
	font-size: 1.5em;
	margin : 10px 10px;
	
}

#titre
{
	font-size: 2.5em;
}


